In [94]:
import pandas as pd

def validate_and_clean_data(df):
    # check for missing values
    missing_values = (df.isnull().sum()/len(df))*100
    print(missing_values)
    
    # drop rows with missing values
    df = df.dropna()
    
    # check for duplicate rows
    duplicate_rows = df.duplicated().sum()
    print(duplicate_rows)
    
    # drop duplicate rows
    df = df.drop_duplicates()
    
    # check for outliers
    for col in df.select_dtypes(include=['float']).columns:
        q1 = df[col].quantile(0.25)
        q3 = df[col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - (1.5 * iqr)
        upper_bound = q3 + (1.5 * iqr)
        df = df[(df[col] > lower_bound) & (df[col] < upper_bound)]
        
    # check for invalid data types
    invalid_data_types = df.dtypes[df.dtypes == 'object']
    print(invalid_data_types)
    
    # convert invalid data types to appropriate data types
    for col in invalid_data_types.index:
        df[col] = pd.to_numeric(df[col], errors='coerce')
    
    # return cleaned dataframe
    return df.info()

In [80]:
df = pd.read_csv('Leads.csv')
df1 = pd.read_csv('Leads.csv')

In [95]:
validate_and_clean_data(df)

Prospect ID                                       0.000000
Lead Number                                       0.000000
Lead Origin                                       0.000000
Lead Source                                       0.389610
Do Not Email                                      0.000000
Do Not Call                                       0.000000
Converted                                         0.000000
TotalVisits                                       1.482684
Total Time Spent on Website                       0.000000
Page Views Per Visit                              1.482684
Last Activity                                     1.114719
Country                                          26.634199
Specialization                                   15.562771
How did you hear about X Education               23.885281
What is your current occupation                  29.112554
What matters most to you in choosing a course    29.318182
Search                                            0.000000
Magazine                                          0.000000
Newspaper Article                                 0.000000
X Education Forums                                0.000000
Newspaper                                         0.000000
Digital Advertisement                             0.000000
Through Recommendations                           0.000000
Receive More Updates About Our Courses            0.000000
Tags                                             36.287879
Lead Quality                                     51.590909
Update me on Supply Chain Content                 0.000000
Get updates on DM Content                         0.000000
Lead Profile                                     29.318182
City                                             15.367965
Asymmetrique Activity Index                      45.649351
Asymmetrique Profile Index                       45.649351
Asymmetrique Activity Score                      45.649351
Asymmetrique Profile Score                       45.649351
I agree to pay the amount through cheque          0.000000
A free copy of Mastering The Interview            0.000000
Last Notable Activity                             0.000000
dtype: float64
0
Prospect ID                                      object
Lead Origin                                      object
Lead Source                                      object
Do Not Email                                     object
Do Not Call                                      object
Last Activity                                    object
Country                                          object
Specialization                                   object
How did you hear about X Education               object
What is your current occupation                  object
What matters most to you in choosing a course    object
Search                                           object
Magazine                                         object
Newspaper Article                                object
X Education Forums                               object
Newspaper                                        object
Digital Advertisement                            object
Through Recommendations                          object
Receive More Updates About Our Courses           object
Tags                                             object
Lead Quality                                     object
Update me on Supply Chain Content                object
Get updates on DM Content                        object
Lead Profile                                     object
City                                             object
Asymmetrique Activity Index                      object
Asymmetrique Profile Index                       object
I agree to pay the amount through cheque         object
A free copy of Mastering The Interview           object
Last Notable Activity                            object
dtype: object
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1543 entries, 2 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    0 non-null      float64
 1   Lead Number                                    1543 non-null   int64
 2   Lead Origin                                    0 non-null      float64
 3   Lead Source                                    0 non-null      float64
 4   Do Not Email                                   0 non-null      float64
 5   Do Not Call                                    0 non-null      float64
 6   Converted                                      1543 non-null   int64
 7   TotalVisits                                    1543 non-null   float64
 8   Total Time Spent on Website                    1543 non-null   int64
 9   Page Views Per Visit                           1543 non-null   float64
 10  Last Activity                                  0 non-null      float64
 11  Country                                        0 non-null      float64
 12  Specialization                                 0 non-null      float64
 13  How did you hear about X Education             0 non-null      float64
 14  What is your current occupation                0 non-null      float64
 15  What matters most to you in choosing a course  0 non-null      float64
 16  Search                                         0 non-null      float64
 17  Magazine                                       0 non-null      float64
 18  Newspaper Article                              0 non-null      float64
 19  X Education Forums                             0 non-null      float64
 20  Newspaper                                      0 non-null      float64
 21  Digital Advertisement                          0 non-null      float64
 22  Through Recommendations                        0 non-null      float64
 23  Receive More Updates About Our Courses         0 non-null      float64
 24  Tags                                           0 non-null      float64
 25  Lead Quality                                   0 non-null      float64
 26  Update me on Supply Chain Content              0 non-null      float64
 27  Get updates on DM Content                      0 non-null      float64
 28  Lead Profile                                   0 non-null      float64
 29  City                                           0 non-null      float64
 30  Asymmetrique Activity Index                    0 non-null      float64
 31  Asymmetrique Profile Index                     0 non-null      float64
 32  Asymmetrique Activity Score                    1543 non-null   float64
 33  Asymmetrique Profile Score                     1543 non-null   float64
 34  I agree to pay the amount through cheque       0 non-null      float64
 35  A free copy of Mastering The Interview         0 non-null      float64
 36  Last Notable Activity                          0 non-null      float64
dtypes: float64(34), int64(3)
memory usage: 458.1 KB

In [82]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9240 entries, 0 to 9239
Data columns (total 37 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Prospect ID                                    9240 non-null   object
 1   Lead Number                                    9240 non-null   int64
 2   Lead Origin                                    9240 non-null   object
 3   Lead Source                                    9204 non-null   object
 4   Do Not Email                                   9240 non-null   object
 5   Do Not Call                                    9240 non-null   object
 6   Converted                                      9240 non-null   int64
 7   TotalVisits                                    9103 non-null   float64
 8   Total Time Spent on Website                    9240 non-null   int64
 9   Page Views Per Visit                           9103 non-null   float64
 10  Last Activity                                  9137 non-null   object
 11  Country                                        6779 non-null   object
 12  Specialization                                 7802 non-null   object
 13  How did you hear about X Education             7033 non-null   object
 14  What is your current occupation                6550 non-null   object
 15  What matters most to you in choosing a course  6531 non-null   object
 16  Search                                         9240 non-null   object
 17  Magazine                                       9240 non-null   object
 18  Newspaper Article                              9240 non-null   object
 19  X Education Forums                             9240 non-null   object
 20  Newspaper                                      9240 non-null   object
 21  Digital Advertisement                          9240 non-null   object
 22  Through Recommendations                        9240 non-null   object
 23  Receive More Updates About Our Courses         9240 non-null   object
 24  Tags                                           5887 non-null   object
 25  Lead Quality                                   4473 non-null   object
 26  Update me on Supply Chain Content              9240 non-null   object
 27  Get updates on DM Content                      9240 non-null   object
 28  Lead Profile                                   6531 non-null   object
 29  City                                           7820 non-null   object
 30  Asymmetrique Activity Index                    5022 non-null   object
 31  Asymmetrique Profile Index                     5022 non-null   object
 32  Asymmetrique Activity Score                    5022 non-null   float64
 33  Asymmetrique Profile Score                     5022 non-null   float64
 34  I agree to pay the amount through cheque       9240 non-null   object
 35  A free copy of Mastering The Interview         9240 non-null   object
 36  Last Notable Activity                          9240 non-null   object
dtypes: float64(4), int64(3), object(30)
memory usage: 2.6+ MB

In [83]:
validate_and_clean_data(df)

,Prospect ID,Lead Number,Lead Origin,Lead Source,Do Not Email,Do Not Call,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,...,Get updates on DM Content,Lead Profile,City,Asymmetrique Activity Index,Asymmetrique Profile Index,Asymmetrique Activity Score,Asymmetrique Profile Score,I agree to pay the amount through cheque,A free copy of Mastering The Interview,Last Notable Activity
2,NaN,660727,NaN,NaN,NaN,NaN,1,2.0,1532,2.00,...,NaN,NaN,NaN,NaN,NaN,14.0,20.0,NaN,NaN,NaN
3,NaN,660719,NaN,NaN,NaN,NaN,0,1.0,305,1.00,...,NaN,NaN,NaN,NaN,NaN,13.0,17.0,NaN,NaN,NaN
4,NaN,660681,NaN,NaN,NaN,NaN,1,2.0,1428,1.00,...,NaN,NaN,NaN,NaN,NaN,15.0,18.0,NaN,NaN,NaN
6,NaN,660673,NaN,NaN,NaN,NaN,1,2.0,1640,2.00,...,NaN,NaN,NaN,NaN,NaN,14.0,20.0,NaN,NaN,NaN
15,NaN,660547,NaN,NaN,NaN,NaN,1,6.0,1012,6.00,...,NaN,NaN,NaN,NaN,NaN,14.0,15.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9234,NaN,579615,NaN,NaN,NaN,NaN,1,5.0,210,2.50,...,NaN,NaN,NaN,NaN,NaN,14.0,20.0,NaN,NaN,NaN
9235,NaN,579564,NaN,NaN,NaN,NaN,1,8.0,1845,2.67,...,NaN,NaN,NaN,NaN,NaN,15.0,17.0,NaN,NaN,NaN
9236,NaN,579546,NaN,NaN,NaN,NaN,0,2.0,238,2.00,...,NaN,NaN,NaN,NaN,NaN,14.0,19.0,NaN,NaN,NaN
9237,NaN,579545,NaN,NaN,NaN,NaN,0,2.0,199,2.00,...,NaN,NaN,NaN,NaN,NaN,13.0,20.0,NaN,NaN,NaN
9239,NaN,579533,NaN,NaN,NaN,NaN,1,6.0,1279,3.00,...,NaN,NaN,NaN,NaN,NaN,15.0,18.0,NaN,NaN,NaN

In [93]:
df1.describe()

,Lead Number,Converted,TotalVisits,Total Time Spent on Website,Page Views Per Visit,Asymmetrique Activity Score,Asymmetrique Profile Score
count,9240.000000,9240.000000,9103.000000,9240.000000,9103.000000,5022.000000,5022.000000
mean,617188.435606,0.385390,3.445238,487.698268,2.362820,14.306252,16.344883
std,23405.995698,0.486714,4.854853,548.021466,2.161418,1.386694,1.811395
min,579533.000000,0.000000,0.000000,0.000000,0.000000,7.000000,11.000000
25%,596484.500000,0.000000,1.000000,12.000000,1.000000,14.000000,15.000000
50%,615479.000000,0.000000,3.000000,248.000000,2.000000,14.000000,16.000000
75%,637387.250000,1.000000,5.000000,936.000000,3.000000,15.000000,18.000000
max,660737.000000,1.000000,251.000000,2272.000000,55.000000,18.000000,20.000000

In [16]:
df.duplicated().sum()/len(df)

0.0